.dd-button-state {
  &:disabled {
    @apply filter grayscale opacity-80;
    @apply cursor-not-allowed;
  }
  &:hover:not(:disabled):not(:focus) {
    @apply filter brightness-105;
  }
  &:hover:active,
  &:focus {
    @apply outline outline-skin-secondary outline-2 outline-offset-2;
    @apply outline-none;
  }
}

.dd-button {
  @extend .dd-button-state;
  @apply flex justify-center items-center;
  @apply border border-transparent;
  @apply font-semibold;
  @apply duration-200;
  @apply rounded-full;
  @apply py-2 px-8;

  > .dd-button-icon--with-children {
    @apply mr-1;
  }
  &--with-background {
    @apply bg-skin-top;
  }
  &--rounded {
    @apply rounded-full;
    @apply p-2;
    @apply h-12 w-12;
  }
  &--fill {
    @extend .dd-button;
    @apply text-skin-inverted;
    @apply bg-skin-fill;

    $types: "primary", "secondary", "danger", "success", "warning", "info";
    @each $type in $types {
      &.dd-button--#{$type} {
        @apply bg-skin-#{$type};
      }
    }

    &:disabled {
      @apply bg-skin-disabled;
      @apply text-skin-base;
    }
    &:hover:not(:active) {
      @apply shadow-lg;
    }
    &:focus,
    &.dd-button--use-focus-style {
      @apply outline outline-skin-secondary outline-2 outline-offset-2;
    }
    &:active {
      @apply outline-offset-4;
    }
  }

  &--outline {
    @extend .dd-button;
    @apply border-skin-secondary;
    @apply text-skin-secondary;

    &:hover:not(:disabled),
    &:focus {
      @apply bg-skin-secondary bg-opacity-5;
    }
    &:active {
      @apply bg-skin-secondary bg-opacity-10;
    }

    $types: "primary", "secondary", "danger", "success", "warning", "info";
    @each $type in $types {
      &.dd-button--#{$type} {
        @apply border-skin-#{$type};
        @apply text-skin-#{$type};

        &:hover:not(:disabled),
        &:focus,
        &.dd-button--use-focus-style {
          @apply bg-skin-#{$type} bg-opacity-5;
        }
        &:active {
          @apply bg-skin-#{$type} bg-opacity-10;
        }
      }
    }
  }

  &--plain {
    @extend .dd-button;
    @apply text-skin-base text-opacity-90;
    @apply py-2 px-6;
    &:hover:not(:disabled),
    &:focus,
    &.dd-button--use-focus-style {
      @apply bg-skin-base bg-opacity-5;
    }
    &:focus,
    &.dd-button--use-focus-style {
      @apply outline-none;
    }
    &:active {
      @apply bg-skin-base bg-opacity-10;
    }

    $types: "primary", "secondary", "danger", "success", "warning", "info";
    @each $type in $types {
      &.dd-button--#{$type} {
        @apply text-skin-#{$type};
        &:hover:not(:disabled),
        &:focus {
          @apply bg-skin-#{$type} bg-opacity-5;
        }
        &:active {
          @apply bg-skin-#{$type} bg-opacity-10;
        }
      }
    }
  }
}
