@import "../assets/styles/form-common.scss";

.dd-text-area {
  > .text-area-container {
    @extend .form-bg--filled;
    @apply duration-200;
    @apply rounded-t-md;
    @apply relative;
    height: fit-content;
    width: fit-content;

    > label {
      @extend .label;
    }

    > textarea {
      @apply text-skin-base;
      @apply bg-transparent;
      @apply px-4 pb-1;
      transition: background-color 0.2s;

      &:disabled {
        @apply cursor-not-allowed;
      }
    }

    &::before {
      @extend .form-border;
      @apply duration-100;
    }

    // --- Focus within
    &:focus-within {
      > textarea {
        outline: none;
      }

      &:not(.text-area-container--error):not(.text-area-container--read-only) {
        &::before {
          @extend .form-border--active;
        }
        > label {
          @extend .label--active;
        }
      }
      &--read-only::before {
        @extend .form-border--read-only;
      }
    }

    &--fill,
    &--plain {
      &:focus-within > label {
        @extend .label-float-scale-only;
      }
    }

    &--outline:focus-within > label {
      @extend .label-float-scale-only--outline;
    }

    &:hover,
    &:focus-within {
      @apply bg-opacity-50;
    }

    // --- Has content
    &--has-content {
      &.text-area-container--fill,
      &.text-area-container--plain {
        > label {
          @extend .label-float-scale-only;
        }
      }

      &.text-area-container--outline > label {
        @extend .label-float-scale-only--outline;
      }
    }

    // --- Type specific
    &--fill {
      &::before {
        @apply border-b;
      }
      &:focus-within::before {
        @apply border-b-2;
      }

      > textarea {
        @apply pb-[6px] pt-3;
      }
    }

    &--plain {
      @apply border-b border-skin-base border-opacity-10;
      @apply bg-transparent;
      @apply h-auto;

      > textarea {
        @apply p-0 px-2;
      }

      > .adornment-icon-left,
      > .label {
        @apply left-2;
      }

      &::before {
        @apply duration-100;
        @apply mt-6;
      }
      &:not(.text-area-container--has-content)::before {
        @apply border-b border-transparent;
      }
      &:hover::before,
      &.text-area-container--error::before {
        @apply border-b border-skin-base border-opacity-40;
      }
      &:focus-within {
        &::before {
          @apply border-b-2;
        }
        &.text-area-container--error::before {
          @apply border-skin-danger;
        }
        &:not(.text-area-container--error)::before {
          @apply border-skin-secondary;
        }
      }
    }

    &--outline {
      @extend .form-bg--outline;
      @apply rounded-b-md;
      > textarea {
        @apply py-3;
      }
      &::before {
        @apply rounded-md;
        @apply border;
      }
      &:focus-within::before {
        @apply border-2;
      }
    }

    // --- Error
    &--error {
      &::before {
        @extend .form-border--error;
      }
      > label {
        @extend .label--error;
      }
    }
  }

  > .caption-container {
    @apply text-left text-xs;
    @apply font-semibold;
    @apply w-full;
    @apply px-4;
    @apply flex;
    @apply mt-1;

    &::before {
      @apply inline-block;
      @apply w-0 h-4;
      content: "";
    }
    &--error {
      @extend .label--error;
    }
    > .icon {
      @apply mr-1;
    }
  }

  > .text-area-container--plain + .caption-container {
    @apply px-0;
  }
}
