@mixin theme-light {
  --text-base: 17, 42, 70;
  --text-primary: 9, 61, 116;
  --text-secondary: 43, 108, 176;
  --text-inverted: 247, 250, 252;
  --fill: 43, 108, 176;
  --background: 246, 247, 249;
  --background-top: 255, 255, 255;
  --background-overflow-menu: 255, 255, 255;
  --background-active: 227, 242, 253;
  --danger: 169, 30, 41;
  --success: 0, 128, 0;
  --warning: 138, 111, 20;
  --info: 0, 82, 163;
  --default: 0, 0, 0;
  --exquisite: 131, 6, 193;
  --disabled: 235, 235, 235;
}

@mixin theme-dark {
  --text-base: 238, 237, 237;
  --text-primary: 83, 178, 255;
  --text-secondary: 39, 154, 248;
  --text-inverted: 33, 33, 33;
  --fill: 83, 178, 255;
  --background: 18, 24, 27;
  --background-top: 42, 46, 53;
  --background-overflow-menu: 46, 46, 46;
  --background-active: 58, 65, 73;
  --danger: 253, 88, 88;
  --success: 127, 255, 127;
  --warning: 255, 183, 51;
  --info: 51, 164, 255;
  --default: 232, 230, 227;
  --exquisite: 211, 131, 251;
  --disabled: 115, 117, 132;
}

.theme-light {
  @include theme-light();
}
.theme-dark {
  @include theme-dark();
}

body {
  @include theme-light();
}
