$theme-light: (
  --text-base: "rgb(17, 42, 70)",
  --text-primary: "rgb(9, 61, 116)",
  --text-secondary: "rgb(43, 108, 176)",
  --text-inverted: "rgb(247, 250, 252)",
  --fill: "rgb(43, 108, 176)",
  --background: "rgb(246, 247, 249)",
  --background-top: "rgb(255, 255, 255)",
  --background-overflow-menu: "rgb(255, 255, 255)",
  --background-active: "rgb(227, 242, 253)",
  // Other
  --danger: "rgb(169, 30, 41)",
  --success: "rgb(0, 128, 0)",
  --warning: "rgb(138, 111, 20)",
  --info: "rgb(0, 82, 163)",
  --default: "rgb(0, 0, 0)",
  --exquisite: "rgb(131, 6, 193)",
  --disabled: "rgb(235, 235, 235)",
) !default;

$theme-dark: (
  --text-base: "rgb(238, 237, 237)",
  --text-primary: "rgb(83, 178, 255)",
  --text-secondary: "rgb(39, 154, 248)",
  --text-inverted: "rgb(33, 33, 33)",
  --fill: "rgb(83, 178, 255)",
  --background: "rgb(18, 24, 27)",
  --background-top: "rgb(42, 46, 53)",
  --background-overflow-menu: "rgb(46, 46, 46)",
  --background-active: "rgb(58, 65, 73)",
  // Other
  --danger: "rgb(253, 88, 88)",
  --success: "rgb(127, 255, 127)",
  --warning: "rgb(255, 183, 51)",
  --info: "rgb(51, 164, 255)",
  --default: "rgb(232, 230, 227)",
  --exquisite: "rgb(211, 131, 251)",
  --disabled: "rgb(115, 117, 132)",
) !default;

/// Replace `$search` with `$replace` in `$string`
/// @author Kitty Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@function get-color-value($color) {
  @return #{unquote(str-replace(str-replace($color, "rgb(", ""), ")", ""))};
}

@mixin extract-color-map($map) {
  @each $key, $value in $map {
    #{$key}: #{get-color-value($value)};
  }
}

.theme-light {
  @include extract-color-map($theme-light);
}
.theme-dark {
  @include extract-color-map($theme-dark);
}

$key: display;
html {
  @include extract-color-map($theme-light);
}
